@font-face {
    font-family: "Gilroy";
    src: url("~@/static/fonts/Gilroy-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Gilroy";
    src: url("~@/static/fonts/Gilroy-ExtraBold.ttf");
    font-weight: bold;
}