.logo{
    font-size: 26px;
    color: #fff;
    font-weight: bold;
    img{
        height: 24px;
    }
}
.h1-title {
    font-size: 51px;
    line-height: 51px;
    font-family: $fontPrimary;
    font-weight: bold;
    margin-bottom: 30px;
}
.bg-green{
    background-color: var(--green);
}
.bg-red{
    background-color: var(--red);
}
.btn-primary{
    background-color: var(--primary-color) !important;;
    &:hover{
    background-color: var(--dark-color) !important;
    }
}
.h2-title {
    font-size: 40px;
    font-family: $fontPrimary;
    font-weight: bold;
    margin-bottom: 30px;
}
.h3-title {
    font-size: 24px;
    font-family: $fontPrimary;
    font-weight: bold;
}
.text-primary {
    color: var(--primary-color) !important;
}
.text-secondary {
    color: var(--dark-color) !important;
}
.text-dark {
    color: #000 !important;
}
.text-white {
    color: #fff;
}
.text-bold{
    font-weight: bold;
}
.fs-26{
    font-size: 26px;
}
.big-btn{
    height: 49px;
}
.fs-30{
    font-size: 30px;
}
.fs-32{
    font-size: 32px;
}
.fs-41{
    font-size: 41px;
}
.selected{
    color: var(--green) !important;
    &:hover{
        color: var(--green-selected) !important;
    }
}
.uderlined{
    text-decoration: underline;
}
.bg-primary {
    background-color: var(--primary-color) !important;
}
.bg-secondary {
    background-color: var(--dark-color) !important;
}
.bg-transparent {
    position: absolute;
    z-index: 1;
    bottom: -51px;
    background-color: rgba(36,55,58,0.8) !important;
    width: 100%;
}
.bg-grey {
    background-color: var(--grey-color);
}
.bg-lightgrey {
    background-color: var(--light-grey-color);
}
.bg-white {
    background-color: #fff;
}
.form-control {
    border-radius: 25px;
    background: #E9EBEB;
    height: 44px;
    padding: 10px 26px;
    border: none;
}

.btn {
    padding: 0.375rem 1.4rem;
}

.btn-dark {
    background-color: var(--dark-color);
    border: 1px solid var(--dark-color);
    color: #fff;
}

.btn-without-bg {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--dark-color);
}

.btn-default {
    background-color: transparent;
    border: 2px solid transparent;
    &:hover {
        background-color: transparent;
        border: 2px solid #fff;
    }
}

.v-select {
    .vs__dropdown-toggle{
        background-color: #E9EBEB;
        border: none;
        height: 50px;
        border-radius: 50px;
    }
    .vs__actions {
        padding: 10px 17px 0 3px;
    }
    .vs__selected-options{
        padding-left: 23px;
    }

}
.v-select.vs--open{
    .vs__dropdown-toggle{
        border-radius: 50px;
    }
}
@include respond-above(sm) {
    .h2-title {
        font-size: 35px;
        margin-bottom: 18px;
    }
    .h3-title {
        font-size: 20px;
    }
    .h1-title {
        font-size: 40px;
        margin-bottom: 18px;
    }
}