
:root {
    --primary-color: #1CB7DB;
    --dark-color: #24373A;
    --grey-color: #7C8789;
    --light-grey-color: #dee0e1;
    --medium-grey-color: #CBCFD0;
    --green: #66d349;
    --green-selected: #73ef52;
    --red: #e82d5e;
    --easy-ligth-grey-color: #f2f3f3;
    --grey-f-color: #fff;
}

$fontPrimary: "Gilroy";