.card-room {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px 0;
}
.owl-item{
    .card-room{
        padding: 10px;
    }
}
.card-room__inner {
    border-radius: 15px;
    overflow: hidden;

    display: flex;
    width: 100%;
    flex-direction: column;
}
.card-room__top {
    position: relative;
    height: 280px !important;
    //height: 15vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.card-room__top:after {
    background-color: rgba(36,55,58,0.67);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;

}
.card-room__bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.card-room__date {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 10;
}
.card-room__time {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    z-index: 10;
    &:after {
        content: ''; 
        position: absolute;
        right: 0; 
        top: 0;
        border: 45px solid transparent; 
        border-top: 45px solid rgba(255,255,255, .4); 
        border-right: 45px solid rgba(255,255,255, .4);
        z-index: 9;
    }
    span:first-child {
        line-height: 22px;
        font-size: 23px
    }
    span:last-child {
        font-size: 16px;
        line-height: 14px;
    }
}
.card-room__main-title {
    font-size: 24px;
    font-weight: bold;
    z-index: 10;
}
.card-room__radiostation-logo, .card-room__radiostation-audio {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    .font-awesome-icon{
        width: 32px;
        height: 32px;
    }
}
.card-room__radiostation-title {
    flex: 0 0 calc(100% - 100px);
    padding: 8px 14px;
    text-align: left;
}
@include respond-above(lg) {
    .card-room__top {
        height: 23vw;
    }
}
@include respond-above(md) {
    .card-room__top {
        height: 30vw;
    }
}
@include respond-above(sm) {
    .card-room__top {
        height: 33vw;
    }
}
@include respond-above(xs) {
    .card-room__top {
        height: 55vw;
    }
}
