.categories-card{
  cursor:pointer;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 29px;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  align-items: center;
  display: flex;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: auto;
  transition: 0.3s;
  &:hover{
    background-color: var(--dark-color);
    text-decoration: none;
    color: #fff;
  }
}
@include respond-above(md) {
  .categories-card {
    border-radius: 30px;
  }
}
