.input-search-wrapper{
  position: relative;
  margin-bottom: 50px;

  .font-awesome-icon{
    position: absolute;
    right: 25px;
    font-size: 30px;
    top: 22px;
    color: #fff;
  }
  .input-search{
    outline: none;
    width: 100%;
    height: 77px;
    border-radius: 39px;
    border: none;
    padding: 21px 60px 21px 32px;
    font-weight: bold;
    color: #fff;
    font-size: 34px ;
    &:focus {
      border: none;
    }
    &::placeholder {
      color: #fff;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #fff;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #fff;
    }
  }
}
@include respond-above(md) {
  .input-search-wrapper{
    .input-search{
      font-size: 26px;
    }
  }
}
@include respond-above(sm) {
  .input-search-wrapper{
    margin-bottom: 20px;
    .input-search{
      &::placeholder {
        color: transparent;
      }
      &:-ms-input-placeholder {
        color: transparent;
      }
      &:-ms-input-placeholder {
        color: transparent;
      }
    }
  }
}