<template>
  <MainLayout>
    <UserSettingsAvatar />
<!--    <AccountSectionLayout>-->
<!--      <UserSettingsActions />-->
      <UserSettings />
      <AccountDetails />
      <YourLikes @getSectionData="setDataPage($event)" />
<!--      <BottomSections :needCategories=false />-->

<!--    </AccountSectionLayout>-->
  </MainLayout>
</template>

<script>
import MainLayout from "@/layout/MainLayout";
// import AccountSectionLayout from "@/layout/AccountSectionLayout";
// import UserSettingsActions from "@/components/sections/UserSettingsActions";
import AccountDetails from "@/components/sections/AccountDetails";
import UserSettings  from "@/components/sections/UserSettings";
import UserSettingsAvatar  from "@/components/sections/UserSettingsAvatar";
import YourLikes from "@/components/sections/YourLikes";
// import BottomSections from "@/layout/BottomSections";
export default {
  components: {
    MainLayout,
    AccountDetails,
    UserSettings,
    YourLikes,
    // BottomSections,
    // UserSettingsActions,
    UserSettingsAvatar
    // AccountSectionLayout
  },
  data: () => ({
    page: {
      name: "",
      loginName: "",
      email: "",
      emailNotification: null,
      lovesTags: []
    }
  }),
  methods: {
    setDataPage(e) {
      const { key, value } = e;
      this.page[key] = value;
    }
  }
};
</script>
