<template>
  <b-row class="cards-list">
    <b-col cols="3" v-for="(card, index) in items" :key="index">
      <CardRoom :card="card" class="px-0"/>
    </b-col>
  </b-row>
</template>

<script>
import CardRoom from "@/components/modules/CardRoom";
export default {
  components: { CardRoom},
  props: {
    items: {
      type: Array,
      default: () => []
    },
  },

};
</script>
