<template>
    <div class="card-room" v-if="card">
      <router-link :to="`/radiostation/`" v-if="card.needShowAll" class="categories-card">
              {{ getName }}
      </router-link>
      <div v-else class="card-room__inner text-white text-bold"  :class="[themeClass.cardClass]">
        <div class="card-room__top" :style="`background-image: url(${imageRoomUrl})`">
          <div class="card-room__date  text-bold">
            <span>{{ date }}</span>
          </div>
          <div class="card-room__time">
            <span>{{ time }}</span>
            <span>min</span>
          </div>
          <div class="card-room__main-title">
            <span>{{ titleRoom }}</span>
          </div>
        </div>
        <div class="card-room__bottom" :class="themeClass.textClass">
          <div class="card-room__radiostation-logo">
            <img :src="logoRadiostationUrl" :alt="titleRoom" />
          </div>
          <div class="card-room__radiostation-title text-bold">
            <span>{{ titleRadiostation }}</span>
          </div>
          <div class="card-room__radiostation-audio">
            <img class="font-awesome-icon" :src="`../../static/svg/play-button-${themeClass.swgName}.svg`" alt="fonodio">
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  import { getImagePath } from "@/staticData/helpers";
export default {
  props: {
    theme: {
      type: String,
      default: 'blue'
    },
    card: {
      type: Object,
      default: () => {}
    },
  },
  methods: {
    getImagePath(img){
      return getImagePath(img);
    },
  },
  computed: {
    getName(){
      return `Show all ${this.category} radiocasts`;
    },
    titleRoom() {
      return this.card.title;
    },
    imageRoomUrl() {
      return this.card.imgURL;
    },
    date() {
      return `${this.card.date.getMonth()} | ${this.card.date.getDate()} | ${this.card.date.getFullYear()}`;
    },
    time() {
      return this.card.time;
    },
    hasRadiostation() {
      return this.card.radiostation
    },
    titleRadiostation() {
      return this.hasRadiostation && this.hasRadiostation.title;
    },
    logoRadiostationUrl() {
      return this.hasRadiostation && this.hasRadiostation.logoUrl;
    },
    themeClass() {
      return {
        cardClass: this.theme == 'white'
                ? 'bg-white'
                : 'bg-primary',
        textClass: this.theme == 'white'
                ? 'text-dark'
                : 'text-white',
        swgName: this.theme == 'white'
                ? 'black'
                : 'white',
      };
    }
  }
};
</script>
