<template>
    <div class="categories-card">
        <span>
            {{ getName }}
        </span>
    </div>
</template>
<script>
export default {
    props:{
        category: {
            type: String,
            default: ''
        },
    },
    computed:{
       getName(){
           return `Show all ${this.category} radiocasts`;
       }
    }
}
</script>
