<template>
    <b-row class="cards-list">
        <b-col offset="2" offset-sm="0" cols="8" lg="3" md="4" sm="6"  v-for="(card, index) in convertItems" :key="index">
            <CardRoom :needShowAll="true" :card="card" class="px-0" :theme="theme" />
        </b-col>
    </b-row >
</template>
<script>
    import CardRoom from "@/components/modules/CardRoom";
    import CardViewerMixin from "@/components/mixins/CardViewerMixin";
    export default {
        mixins:[CardViewerMixin],
        props:{
            items:{
                type: Array,
                dafault: []
            },
            theme: {
                type: String,
                default: 'blue'
            },
            needShowAll: {
                type: Boolean,
                default: true
            },
            selectedMoreName: {
                type: String,
                default: ''
            },
        },
        components:{CardRoom},
        computed:{},
        created() {
            console.log(this.title);
        }
    }
</script>