<templete>
    <div>
        asdsasdasdasd
    </div>
<!--    <nav class="footer__additional-links ">-->
<!--        <router-link to="/help" class="link">help</router-link>-->
<!--        <router-link to="/about" class="link">about</router-link>-->
<!--        <router-link to="/privacy" class="link">privacy</router-link>-->
<!--    </nav>-->
</templete>
<script>
export default{

}
</script>