<template>
  <div class="like-list-wrapper" v-if="items.length">
    <ul class="like-list">
      <li :class="themeClass.btnClass" class="like-list__item text-white big-btn" v-for="item in items" :key="item.id">
        <span class="like-list__text">{{item.name}}</span>
        <span class="like-list__btn-close" @click="$emit('removeItem', item.id)">
<!--          <font-awesome-icon class="font-awesome-icon" icon="times" />-->
        </span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    theme: {
      type: String,
      default: 'likes'
    },
    items: {
      type: Array,
      default: () => []
    }
  },
  computed:{
    themeClass() {
      return {
        btnClass: this.theme == 'likes'
                ? 'bg-green'
                : 'bg-red',
      };
    }
  }
};
</script>
