<template>
    <b-row>
        <b-col cols="6" md="4" sm="6" v-for="(board, key) in items" :key="key">
                <CardRadioStation :card="board"/>
        </b-col>
    </b-row>
</template>
<script>
    import CardRadioStation from "@/components/modules/CardRadioStation";
export default{
    components: {
        CardRadioStation,
    },
    props:{
        items: {
            type: Array,
            default: () => []
        }
    },
}
</script>