<template>
        <OwlCarousel
                :nav="false"
                :dots="false"
                :responsiveClass="true"
                class="owl-wrapper"
                :responsive="responsive">
            <template slot="prev">
              <span class="prev slider-btn-arrow">
                <img class="font-awesome-icon" :src="`../../static/svg/slider-left-${themeClass.swgName}.svg`" alt="left">
              </span>
            </template>
            <template slot="next">
              <span class="next slider-btn-arrow">
          <img class="font-awesome-icon" :src="`../../static/svg/slider-right-${themeClass.swgName}.svg`" alt="right">
              </span>
            </template>
            <div  v-for="(board, key) in formatRadiostations" :key="key">
                <CardRadioStation  v-for="(board, index) in board" :key="index" :card="board" />
            </div>
        </OwlCarousel>
</template>
<script>
    import _ from 'lodash';
    import OwlCarousel from "vue-owl-carousel";
    import CardRadioStation from "@/components/modules/CardRadioStation";
    export default {
        components: {
            CardRadioStation,
            OwlCarousel
        },
        props: {
            items: {
                type: Array,
                default: () => []
            },
            theme: {
                type: String,
                default: 'blue'
            },
        },
        data: () => ({
            responsive: {
                0: {
                    items: 1,
                },
                600: {
                    items: 2,
                },
                1000: {
                    items: 6,
                    loop: false,
                }
            },
        }),
        computed:{
            formatRadiostations(){
                return _.chunk(this.items, 2);
            },
            themeClass() {
                return {
                    cardClass: this.theme == 'white'
                        ? 'bg-white'
                        : 'bg-primary',
                    swgName: this.theme == 'white'
                        ? 'white'
                        : 'black',
                };
            }
        },
    }
</script>