<template>
  <OwlCarousel
      :loop="false"
      :nav="false"
      :dots="false"
      :responsiveClass="true"
      class="owl-wrapper"
      :responsive="responsive"
      ref="carousel"
  >
    <template slot="prev">
      <span class="prev slider-btn-arrow">
          <img class="font-awesome-icon" :src="`../../static/svg/slider-left-${themeClass.swgName}.svg`" alt="left">
      </span>
    </template>
    <template slot="next">
      <span class="next slider-btn-arrow">
          <img class="font-awesome-icon" :src="`../../static/svg/slider-right-${themeClass.swgName}.svg`" alt="right">
      </span>
    </template>
      <CardRoom :needShowAll="needShowAll" v-for="(card, index) in convertItems" :key="index" :card="card" :theme="theme"/>
  </OwlCarousel>
</template>
<script>
import OwlCarousel from "vue-owl-carousel";
import CardRoom from "@/components/modules/CardRoom";
import CardViewerMixin from "@/components/mixins/CardViewerMixin";
export default {
  mixins:[CardViewerMixin],
  components: { OwlCarousel, CardRoom},
  props: {
    selectedMoreName: {
      type: String,
      default: ''
    },
    needShowAll: {
      type: Boolean,
      default: false
    },
    items: {
      type: Array,
      default: () => []
    },
    theme: {
      type: String,
      default: 'blue'
    }
  },
  data: () => ({
    responsive: {
      0: {
        items: 1,
      },
      600: {
        items: 2,
      },
      1000: {
        items: 4,
        loop: false
      }
    },
  }),
  computed: {

  },

}
</script>