<template >
    <nav class="social-links" :class="themeClass.cardClass">
        <a href="http://" target="_blank" rel="noopener noreferrer" class="footer__social-link">
            <font-awesome-icon class="font-awesome-icon" :icon="[ 'fab', 'facebook-f' ]"  />
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer" class="footer__social-link">
            <font-awesome-icon class="font-awesome-icon" :icon="[ 'fab', 'instagram']"/>
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer" class="footer__social-link">
            <font-awesome-icon class="font-awesome-icon" :icon="[ 'fab', 'twitter']"/>
        </a>
    </nav>
</template>
<script>
    export default {
        props: {
            theme: {
                type: String,
                default: 'dark'
            }
        },
        computed:{
            themeClass() {
                return {
                    cardClass: this.theme == 'dark'
                        ? 'dark'
                        : 'light',
                };
            }
        }
    }
</script>