<template>
  <section class="section-about">
      <b-container>
          <b-row>
              <b-col md="7">
                <h2 class="h3-title text-left">
                    about fonodio
                </h2>
                  <p class="text-left">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta no.
                </p>
              </b-col>
              <b-col md="3" offset-md="2">
                  <h2 class="h3-title text-left">
                      contact
                  </h2>
                  <address class="text-left">
                      No. 2, Jalan Dua, <br>
                      Off Jalan Chan Sow Lin, <br>
                      55200 Kuala Lumpur, <br>
                      Malaysia.
                  </address>
              </b-col>
          </b-row>
      </b-container>
  </section>
</template>

<script>
export default {

}
</script>