<template>
  <section class="account-details section-offset user-settings">
    <b-container>
      <b-row>
        <b-col >
          <h3 class="h3-settings text-left mb-3">
            User details
          </h3>
          <div class="account-details__btns">
            <b-button pill class="mb-3 big-btn btn-primary text-bold text-left btn-default">Reset my password by email</b-button>
            <b-button pill class="btn-dark big-btn  text-left text-bold">Delete my account</b-button>
          </div>
        </b-col>
     </b-row>
    </b-container>
  </section>
</template>

<script>
export default {

}
</script>
