<template functional>
    <section class="section-fonodio-plus bg-secondary">
        <b-container>
            <b-row>
                <b-col col md="12">
                    <div>
                        <h3 class="h3-title text-left">
                            <span class="text-primary">featured in episode</span><br/>
                        </h3>
                    </div>
                </b-col>
                </b-row>
            <b-row>
                <b-col col md="8">
                    <div class="text-left text-white">
                        <h3 class="h3-title text-left">
                            <span class="text-primary">About this episode</span><br/>
                        </h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo reiciendis cum eaque suscipit obcaecati culpa cupiditate rem eius molestiae ducimus harum optio cumque repellendus nam, totam odio deserunt omnis provident!</p>
                    </div>
                </b-col>
                <b-col col md="4">
                    <h3 class="h3-title text-left">
                        <span class="text-primary">Topics</span><br/>
                    </h3>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <h3 class="h3-title text-left">
                        <span class="text-primary">Share the radiocast</span><br/>
                        <nav class="social-links">
                            <a href="http://" target="_blank" rel="noopener noreferrer" class="footer__social-link">
                                <img src="../../static/img/facebook.png" alt="facebook">
                            </a>
                            <a href="http://" target="_blank" rel="noopener noreferrer" class="footer__social-link  ml-2">
                                <img src="../../static/img/insta.png" alt="insta">
                            </a>
                            <a href="http://" target="_blank" rel="noopener noreferrer" class="footer__social-link  ml-2">
                                <img src="../../static/img/twitter.png" alt="twitter">
                            </a>
                        </nav>
                    </h3>
                </b-col>
            </b-row>
        </b-container>
    </section>
</template>

<script>
    export default {

    }
</script>