<template functional>
  <section class="section-fonodio-plus bg-secondary">
      <b-container>
          <b-row>
              <b-col  md="5" sm="12">
                <div>
                    <h2 class="h2-title text-left">
                        <span class="text-primary">fonodio plus</span><br/>
                        <span class="text-white">for performents<br/> and creators</span>
                    </h2>
                </div>
              </b-col>
              <b-col  md="7" sm="12">
                <div class="text-left text-white">
                    <p>It's all at your fingertips - radio you love. Find radio you like by swiping left and right, it’s easy. Create your personal playlist in a second. Go ahead, give it a try.</p>
                    <b-button to="/" pill variant="light" class="text-bold">learn more</b-button>
                </div>
              </b-col>
          </b-row>
      </b-container>
  </section>
</template>

<script>
export default {}
</script>