<template>
  <section class="section-mobile-app text-left">
    <b-container>
      <b-row class="align-items-end">
        <b-col col md="7" sm="12">
          <h2 class="h2-title mobile-app__title text-primary">
            find radio you love.<br/> get the app
          </h2>
          <p class="mobile-app__description">
            It's all at your fingertips - radio you love. Find radio you like by swiping left and right, it’s easy. Create your personal playlist in a second. Go ahead, give it a try.
          </p>
          <div class="mobile-app__store-links d-flex">
            <a href="http://" target="_blank" class="mobile-app__store-link" rel="noopener noreferrer">
                <img src="https://bilaskra.is/img/page-about-project/applestore.png" alt="">
            </a>
            <a href="http://" target="_blank" class="mobile-app__store-link" rel="noopener noreferrer">
                <img src="https://bilaskra.is/img/page-about-project/android-app.png" alt="">
            </a>
          </div>
        </b-col>
        <b-col col md="5" sm="12" class="d-sm-none d-md-block">
          <div class="mobile-app__img-iphone d-flex justify-content-center">
              <img src="/static/img/mobile-app.jpg" alt="">
          </div>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
export default {}
</script>
