<template>
    <section>
        <b-container class="pt-3 pb-3">
            <b-row>
                <b-col  class="d-flex justify-content-between align-items-center">
                    <div class="user-data">
                        <upload-image is="upload-image"
                                      :url="forms.create.url"
                                      :max_files="1"
                                      name="files[]"
                                      :resize_enabled="true"
                                      :resize_max_width="640"
                                      :button_html="forms.create.confirm"
                                      :button_class="'button is-primary'"
                                      v-on:upload-image-attemp="uploadImageAttempt"
                                      v-on:upload-image-success="uploadImageSuccess"
                                      v-on:upload-image-failure="uploadImageFailure"
                                      v-on:upload-image-loaded="uploadImageLoaded"
                                      v-on:upload-image-submit="uploadImageSubmit"
                                      v-on:upload-image-clicked="uploadImageClicked"
                                      v-on:upload-image-removed="uploadImageRemoved"
                        ></upload-image>
                        <Avatar username="Jane Doe" class="avatar mr-3" />
                        <div class="src text-bold">
                            <p>Oleg</p>
                        </div>
                    </div>
                    <b-button class="btn text-bold btn-dark rounded-pill mr-5" pill variant="primary"  :disabled="invalid" type="submit">Update</b-button>
                </b-col>
            </b-row>
        </b-container>
    </section>
</template>

<script>
    import UploadImage from 'vue-upload-image';
    // import Avatar from 'vue-avatar'
    export default {
        components: {
            // Avatar,
            UploadImage
        },
        data: () => ({
            form: {
                email: '',
                name: '',
            }
        }),
    }
</script>

<style>

</style>