<template>
    <section class="user-settings section-offset">
        <ValidationObserver v-slot="{ handleSubmit, invalid }">
            <form class="settings__form"  @submit.prevent="handleSubmit(submit)">
            <b-container>
                <b-row class="setting-wrap">
                        <b-col md="6"  class="text-left">
                            <div class="h3-title text-left mb-3">
                                <h3 class="h3-settings mb-4">User details</h3>
                            </div>
                                    <ValidationProvider name="name" rules="required|min:4" v-slot="{ errors }">
                                        <b-row class="input-wrapper">
                                            <b-col sm="3" class="d-flex align-items-center">
                                                <label for="name">name</label>
                                            </b-col>
                                            <b-col lg="8">
                                                <b-form-input id="name" v-model="form.name" type="text"></b-form-input>
                                                <span class="error">{{ errors[0] }}</span>
                                            </b-col>
                                        </b-row>
                                    </ValidationProvider>
                                    <ValidationProvider name="login" rules="required|min:4" v-slot="{ errors }">
                                        <b-row class="input-wrapper">
                                            <b-col sm="3"  class="d-flex align-items-center">
                                                <label for="login">username</label>
                                            </b-col>
                                            <b-col lg="8">
                                                <b-form-input id="login" v-model="form.login" type="text"></b-form-input>
                                                <span class="error">{{ errors[0] }}</span>
                                            </b-col>
                                        </b-row>
                                    </ValidationProvider>
                                    <ValidationProvider name="email" rules="required|min:4" v-slot="{ errors }">
                                        <b-row class="input-wrapper">
                                            <b-col sm="3" class="d-flex align-items-center">
                                                <label for="email">emailaddress</label>
                                            </b-col>
                                            <b-col lg="8">
                                                <b-form-input v-model="form.email" type="email"></b-form-input>
                                                <span class="error">{{ errors[0] }}</span>
                                            </b-col>
                                        </b-row>
                                    </ValidationProvider>
                                    <ValidationProvider name="email" rules="required|min:4" v-slot="{ errors }">
                                        <b-row class="input-wrapper">
                                            <b-col sm="3" class="d-flex align-items-center">
                                                <label for="email">country</label>
                                            </b-col>
                                            <b-col lg="8">
                                                <v-select :searchable="true" :clearable="false" placeholder="country" :options="['Canada', 'United States']">
                                                </v-select>
                                                <span class="error">{{ errors[0] }}</span>
                                            </b-col>
                                        </b-row>
                                    </ValidationProvider>
                        </b-col>
                        <b-col md="6" class="d-flex justify-content-start">
                            <div class="h3-title text-left mb-3  email-notification">
                                <h3 class="h3-settings mb-4">Email notifications</h3>
                                <b-form-group>
                                    <b-form-radio name="notifications" v-for="(notification, item) in notifications" :value="item" :key="item">{{notification}}</b-form-radio>
                                </b-form-group>
                            </div>
                        </b-col>
                    <button class="upd-button" type="submit">update</button>
                </b-row>
            </b-container>
            </form>
        </ValidationObserver>
    </section>
</template>
<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        components: {
            'v-select':  vSelect
        },
        data: () => ({
            form: {
                email: '',
                name: '',
            },
            notifications: {
                weekly: 'weekly',
                new_features: 'new features',
                monthly: 'monthly'
            }

        //     lovesTags: []
        }),
        // mounted() {
        //     if( !this.resLovesTags.length ) {
        //         this.fetchLovesTag()
        //     }
        // },
        // methods: {
        //     ...mapActions('account', {
        //         fetchLovesTag: 'GET_TEST'
        //     }),
        //     removeLovesTag(id) {
        //         this.lovesTags = this.lovesTags.filter(item => item.id != id)
        //     }
        // },
        // computed: {
        //     ...mapGetters('account', {
        //         resLovesTags: 'lovesTags'
        //     })
        // },
        // watch: {
        //     resLovesTags: {
        //         immediate: true,
        //         handler() {
        //             this.lovesTags = this.resLovesTags
        //         }
        //     },
        //     lovesTags: {
        //         immediate: true,
        //         handler() {
        //             this.$emit('getSectionData', {
        //                 key: 'lovesTags',
        //                 value: this.lovesTags
        //             })
        //         }
        //     }
        // }
    }
</script>

<style>

</style>