<template>
    <section class="avatar-section section-offset user-settings">
        <ValidationObserver v-slot="{ handleSubmit, invalid }">
            <form class="settings__form"  @submit.prevent="handleSubmit(submit)">
                <b-container>
                    <b-row class="setting-wrap">
                        <b-col>
                            <div class="profile">
                                <div class="profile__img">
                                    <img src="../../static/img/photo.jpg"
                                            alt="avatar"/>
                                </div>
                                <div class="profile__info">
                                    <h3 class="h3-title text-left">
                                        Oleg Yakhont
                                    </h3>
                                    <div class="profile__edit text-left">
                                        edit picture
                                    </div>
                                </div>


                            </div>
<!--                            <UploadImage is="upload-image"-->

<!--                                         :max_files="1"-->
<!--                                         name="files[]"-->
<!--                                         :resize_enabled="true"-->
<!--                                         :resize_max_width="640"-->

<!--                            ></UploadImage>-->
<!--                            :url="forms.create.url"-->
<!--                            :button_html="forms.create.confirm"-->
<!--                            :button_class="'button is-primary'"-->
                            <!--                                         v-on:upload-image-attemp="uploadImageAttempt"-->
                            <!--                                         v-on:upload-image-success="uploadImageSuccess"-->
                            <!--                                         v-on:upload-image-failure="uploadImageFailure"-->
                            <!--                                         v-on:upload-image-loaded="uploadImageLoaded"-->
                            <!--                                         v-on:upload-image-submit="uploadImageSubmit"-->
                            <!--                                         v-on:upload-image-clicked="uploadImageClicked"-->
                            <!--                                         v-on:upload-image-removed="uploadImageRemoved"-->
                            <button type="submit" class="upd-button">update</button>
                        </b-col>
                    </b-row>
                </b-container>
            </form>
        </ValidationObserver>
    </section>
</template>

<script>
    // import UploadImage from 'vue-upload-image';
    export default {
        components: {
            // UploadImage
        },
    }
</script>

<style>

</style>