<template>
  <section class="section-offset user-settings">
    <ValidationObserver v-slot="{ handleSubmit, invalid }">
      <form class="settings__form"  @submit.prevent="handleSubmit(submit)">
        <b-container>
          <b-row class="setting-wrap">
            <b-col>
              <h3 class="h3-title text-left mb-3">
                Your likes
              </h3>
              <LovesTagsList theme="likes" :items="lovesTags" @removeItem="removeLovesTag($event)"/>
            </b-col>
            <button class="upd-button" type="submit">update</button>
          </b-row>
          <b-row>
            <b-col>
              <h3 class="h3-title text-left mb-3">Your dislikes
              </h3>
              <LovesTagsList theme="dislikes" :items="lovesTags" @removeItem="removeLovesTag($event)"/>
            </b-col>
          </b-row>
        </b-container>
      </form>
    </ValidationObserver>
  </section>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import LovesTagsList from "@/components/modules/LovesTagsList";
export default {
  components: { LovesTagsList },
  data: () => ({
    lovesTags: []
  }),
  mounted() {
    if( !this.resLovesTags.length ) {
      this.fetchLovesTag()
    }
  },
  methods: {
    ...mapActions('account', {
      fetchLovesTag: 'GET_TEST'
    }),
    removeLovesTag(id) {
      this.lovesTags = this.lovesTags.filter(item => item.id != id)
    }
  },
  computed: {
    ...mapGetters('account', {
        resLovesTags: 'lovesTags'
    })
  },
  watch: {
    resLovesTags: {
        immediate: true,
        handler() {
            this.lovesTags = this.resLovesTags
        }
    },
    lovesTags: {
        immediate: true,
        handler() {
            this.$emit('getSectionData', {
                key: 'lovesTags',
                value: this.lovesTags
            })
        }
    }
  }
}
</script>

<style>

</style>