<template>
    <MainLayout @getCategoriesHeight="getCategoriesHeight" >
        <section class="radoiroom-section mb-5" ref="firstSection" :class="getBgWrapper()">
            <b-container>
                <b-row>
                    <b-col col class="">
                        <div class="h1-title  text-center text-primary d-flex align-items-center justify-content-center pt-3">
                            <span class="mr-3">{{getTitleName}}</span>
                            <div class="d-flex">
                                <font-awesome-icon class="font-awesome-icon selected" icon="minus-circle" />
                                <font-awesome-icon class="font-awesome-icon ml-1" icon="heart" />
                            </div>
                        </div>
                    </b-col>
                </b-row>
            </b-container>
            <section v-for="(rowPosts, index) in formatPosts" :key="index" class="py-2" :class="getBgSection(index)">
                <b-container>
                    <b-row>
                        <b-col col md="3" sm="6" v-for="(card, key) in rowPosts" :key="key">
                            <CardRoom :card="card" />
                        </b-col>
                    </b-row>
                </b-container>
            </section>
        </section>
    </MainLayout>
</template>
<script>
    import _ from 'lodash';
    import { cardRooms,catTags  } from "@/staticData/sections";
    import MainLayout from "@/layout/MainLayout";
    import CardRoom from "@/components/modules/CardRoom";
    import PageHeaderCorrectorMixin from "@/components/mixins/PageHeaderCorrectorMixin";
    export default {
        mixins:[PageHeaderCorrectorMixin],
        components: {
            MainLayout,
            CardRoom,
            // SecLayout
        },
        data: () => ({
            categoriesTagsList: catTags
        }),
        methods:{
            even(n){
                return !(n % 2);
            },
            getBgSection(n){
                return this.even(n) ? 'bg-white' : 'bg-lightgrey';
            },
            getBgWrapper(n){
                return this.even(n) ? 'even' : '';
            }
        },
        computed: {
            formatPosts(){
                return _.chunk(cardRooms, 4);
            },
            getTitleName(){
                return `the best of ${this.$route.name}`
            },
        }
    }
</script>