<template>
  <MainLayout>
    <!-- Slider -->
    <SecLayout
            theme="primary"
            name="search-slider"
            :title="['listen what you want, when you want']"
    >
      <InputSearch/>
      <SliderSimple theme="white" :items="sliderCardRooms" v-if="!isMobile"/>
    </SecLayout>
    <!-- Slider -->
    <SecLayout
      name="cat-slider"
      :title="['the best of', 'economics']"
      :categoriesTagsItems="catTags"
      @selectedCategoryTag="getSliderData1($event)"
    >
      <CardListMobile v-if="isMobile"
                      :items="sliderCardRooms"
                      selectedMoreName="economics"
      />
      <SliderSimple v-else
                    :items="sliderCardRooms"
                    selectedMoreName="economics"
                    :needShowAll=true
      />
    </SecLayout>
    <!-- Slider two rows -->
    <SecLayout
      name="cat-slider-rows"
      theme="secondary"
      :title="['the best', 'food', 'radiorooms']"
      :categoriesTagsItems="catTags"
      @selectedCategoryTag="getSliderData2($event)"
    >
      <MultipleMobile  v-if="isMobile"
                       :items="radiostations"
      />
      <SliderMultiple
              v-else
              theme="white"
              :items="radiostations"
      />
      </SecLayout>
    <BottomSections :needCategories=true />
  </MainLayout>
</template>

<script>
import { catTags, cardRooms, radiostations } from "@/staticData/sections";
import MainLayout from "@/layout/MainLayout";
import SecLayout from "@/layout/SectionLayout";
import BottomSections from "@/layout/BottomSections";
import SliderSimple from "@//components/modules/SliderSimple";
import SliderMultiple from "@//components/modules/SliderMultiple";
import InputSearch from "@//components/modules/InputSearch";
import CardListMobile from "@//components/modules/CardListMobile";
import MultipleMobile from "@//components/modules/MultipleMobile";
import ScreenMixin from "@//components/mixins/ScreenMixin";

export default {
  name: "home",
  mixins: [ScreenMixin],
  components: {
    MainLayout,
    SecLayout,
    BottomSections,
    /* Categories,
    SecMobileApp,
    SecFonodioPlus, */
    SliderSimple,
    SliderMultiple,
    InputSearch,
    CardListMobile,
    MultipleMobile
  },
  methods: {
    getSliderData1(selectedCategoryTag) {
      console.log(selectedCategoryTag);
    },
    getSliderData2(selectedCategoryTag) {
      console.log(selectedCategoryTag);
    }
  },
  computed: {
    catTags() {
      return catTags;
    },
    sliderCardRooms() {
      return cardRooms;
    },
    radiostations() {
      radiostations.map(() => {

      });
      return radiostations;
    }
  }
};
</script>
