<template>
  <MainLayout @getCategoriesHeight="getCategoriesHeight">
        <section class="radiocast-section" ref="firstSection">
        <b-container >
            <b-row>
                <b-col cols="12">
                    <div class="radiocast-section__cast-info">
                        <div class="d-flex flex-row align-items-stretch">
                            <img class="" src="../static/img/radiostation.png" alt="station">
                            <div class="radiocast-section__station-info">
                                <div>
                                    <h3 class="h3-title mb-1 d-flex">
                                        <span>BBC</span>
                                        <div class="d-flex align-items-center">
                                            <font-awesome-icon class="font-awesome-icon ml-3 selected" icon="minus-circle"/>
                                            <font-awesome-icon class="font-awesome-icon ml-1" icon="heart" />
                                        </div>
                                    </h3>
                                    <span class="text-white">12 | 23 | 2019</span>
                                </div>
                            </div>
                        </div>
                        <div class="datatime text-white">
                            <div class="longest bg-primary text-bold">
                                <div class="wrap-longest">
                                    <div>56</div>
                                    <div>min</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-col>
                <b-col>
                    <h1 class="text-white text-bold text-left">
                        Did you know Tiger Woods is a golfer
                        and not a tiger made of wood? Breaking news!
                    </h1>
                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </b-col>
            </b-row>
        </b-container>
        </section>
    <EpisodeLayout :episode="episode"/>
  </MainLayout>
</template>

<script>
import { catTags, episode } from "@/staticData/sections";
import MainLayout from "@/layout/MainLayout";
import EpisodeLayout from "@/layout/EpisodeLayout";
import PageHeaderCorrectorMixin from "@/components/mixins/PageHeaderCorrectorMixin";
export default {
    mixins:[PageHeaderCorrectorMixin],
    components: {
        MainLayout,
        EpisodeLayout
    },
  computed: {
    catTags() {
      return catTags;
    },
    episode() {
      return episode;
    },
      fixed() {
          return this.$route.meta.fixed;
      },
  },
}
</script>