<template>
  <MainLayout @getCategoriesHeight="getCategoriesHeight">
    <section class="radoiroom-section mb-5" ref="firstSection">
      <b-container>
        <b-row>
          <b-col col class="">
            <div class="h2-title text-left text-primary d-flex align-items-center">
                <span class="mr-3">Radioroom</span>
              <div class="d-flex">
                <font-awesome-icon class="font-awesome-icon selected" icon="minus-circle" />
                <font-awesome-icon class="font-awesome-icon ml-1" icon="heart" />
              </div>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col col lg="3" md="4" sm="6" v-for="(card, index) in cardRooms" :key="index">
            <CardRoom :card="card" />
          </b-col>
        </b-row>
      </b-container>
    </section>
  </MainLayout>
</template>
<script>
 import { cardRooms,catTags  } from "@/staticData/sections";
import MainLayout from "@/layout/MainLayout";
import CardRoom from "@/components/modules/CardRoom";
import PageHeaderCorrectorMixin from "@/components/mixins/PageHeaderCorrectorMixin";

export default {
  mixins:[PageHeaderCorrectorMixin],
    components: {
      MainLayout,
      CardRoom
    },
    data: () => ({
      categoriesTagsList: catTags
    }),
    computed: {
      cardRooms() {
        return cardRooms;
      },
    }
}
</script>