<template>
  <MainLayout  @getCategoriesHeight="getCategoriesHeight">
    <section class="topicroom-section" ref="firstSection">
      <b-container>
        <b-row>
          <b-col cols="12">
            <div class="topicroom-section__container">
              <div class="mr-3">
                <img class="topicroom-section__station-image" src="../static/img/radiostation.png" alt="station">
              </div>
              <div class="topicroom-section__station-info">
                <div>
                  <h3 class="h3-title text-primary mb-1">
                    <span class="text-left">
                      BBC Academy
                    </span>
                    <div class="d-flex">
                      <font-awesome-icon class="font-awesome-icon selected" icon="minus-circle" />
                      <font-awesome-icon class="font-awesome-icon ml-1" icon="heart" />
                    </div>
                  </h3>
                  <p class="description text-bold text-left"> BBC Academy</p>
                </div>
                <SocialIcons />
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </section>

    <section v-for="(rowPosts, index) in formatPosts" :key="index" class="py-2" :class="getBgSection(index)">
      <b-container>
        <b-row>
          <b-col col md="3" sm="6" v-for="(card, key) in rowPosts" :key="key">
            <CardRoom :card="card" />
          </b-col>
        </b-row>
      </b-container>
    </section>
  </MainLayout>
</template>
<script>
import { cardRooms, secCategories, catTags  } from "@/staticData/sections";
import MainLayout from "@/layout/MainLayout";
import CardRoom from "@/components/modules/CardRoom";
import SocialIcons from "@/components/modules/SocialIcons";
import PageHeaderCorrectorMixin from "@/components/mixins/PageHeaderCorrectorMixin";
import _ from "lodash";
export default {
  mixins:[PageHeaderCorrectorMixin],
    components: {
        MainLayout,
        CardRoom,
        SocialIcons
    },
  data: () => ({
    categoriesTagsList: secCategories
  }),
  methods:{
    even(n){
      return !(n % 2);
    },
    getBgSection(n){
      return this.even(n) ? 'bg-lightgrey' : 'bg-white' ;
    },
    getBgWrapper(n){
      return this.even(n) ? 'even' : '';
    }
  },
  computed: {
    formatPosts(){
      return _.chunk(cardRooms, 4);
    },
    cardRooms() {
      return cardRooms;
    },
    catTags() {
      return catTags;
    },
  }
}
</script>