.h3-settings{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}
.section-offset  {
  .container{
    position: relative;
    padding-top: 30px;
    padding-bottom: 45px;
    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 30px);
      height: 1px;
      background: var(--light-grey-color);
    }
  }
}
