.section-categories {
    background-color: var(--primary-color);
    padding: 40px 0;
}
.categories-title {
    margin-bottom: 12px;
    color: #fff;
}
.categories-list {
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.categories-list__item {
    padding: 15px;
    flex: 0 0 calc(100%/8);
}
.categories-item__icon {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    padding: 14px 16px;
    img {
        width: 100%;
    }
}
.categories-item__title {
    display: block;
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}
@include respond-above(md) {
    .categories-list {
        margin-left: -20px;
        margin-right: -20px;
    }
    .categories-list__item {
        padding: 20px;
        flex: 0 0 calc(100%/4);
    }
}
@include respond-above(sm) {
    .categories-list__item {
        padding: 20px;
        flex: 0 0 calc(100%/3);
    }
    .categories-list {
        margin-left: -10px;
        margin-right: -10px;
    }
    .categories-list__item {
        padding: 10px;
    }
}
@include respond-above(xs) {
    .categories-list__item {
        flex: 0 0 calc(100%/2);
    }
}