.font-awesome-icon{
  color: var(--medium-grey-color);
  font-size: 20px;
  cursor: pointer;
  &:hover{
    color: var(--light-grey-color);
  }
}

audio{
  width: 100%;
  padding: 0 15px;
}
.featured-card{
  .featured-cart-top{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    max-width: 167px;
    margin: auto;
    img{
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
.topic-item{
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  width: 100%;
  background-color: #fff;
  padding: 3px 15px;
  align-items: center;
  height: 40px;
  .topic-item-title{
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
  }
  .plus{

  }
}
@include respond-above(sm) {
  .topic-item{
    min-width: 200px;
  }
}