.section-fonodio-plus {
    padding: 35px 0;
  .featured{
  }
  //h3{
  //  font-size: 29px;
  //  font-weight: bold;
  //  margin-bottom: 20px;
  //}
  p{
    font-size: 20px;
    line-height: 32px;
  }
}
section.edisode-description{
  padding: 35px 0;
  background-color: var(--easy-ligth-grey-color);

  h3{
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}