.section-mobile-app {
    padding: 45px 0 0;
}
.mobile-app__description {
    margin: 30px 0 45px;
    font-size: 20px;
    line-height: 32px;
}
.mobile-app__store-link {
    width: 200px;
    margin-right: 20px;
    padding-bottom: 20px;
    img {
        width: 100%;
    }
}
.mobile-app__img-iphone {
    //height: 100%;
}

@include respond-above(sm) {
    .section-mobile-app {
        padding-bottom: 50px;
    }
    /* .mobile-app__img-iphone {
        margin-bottom: 30px;
    } */
}
@include respond-above(xs) {
    .section-mobile-app {
        padding-bottom: 0;
    }
}