.topicroom-section{
  .topicroom-section__container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 30px 0;
  }
  .topicroom-section__station-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 26px;
    h3{
      font-size: 31px;
      display: flex;
      align-items: baseline;
      span{
        margin-right: 15px;
      }
    }
  }

  .topicroom-section__station-image{
    width: 150px;
    height: 150px;

  }
}
.topicroom-section{
  .topicroom-section__station-info{
    padding-top: 0;
  }
}
@include respond-above(sm) {
  .topicroom-section {
    .topicroom-section__station-info{
      h3{
        font-size: 24px !important;
      }
      p{
        font-size: 16px !important;
      }
    }
    .topicroom-section__station-image {
      width: 110px;
      height: 110px;
    }
  }
}
@include respond-above(xs) {
    .topicroom-section {
      .topicroom-section__station-info{
        h3{
          font-size: 20px !important;
        }
        p{
          font-size: 16px !important;
        }
      }
    .topicroom-section__station-image {
      width: 90px !important;
      height: 90px !important;;
    }
  }
}