section.avatar-section{
  .container{
    padding-bottom: 30px !important;
  }
}
section.user-settings{
  .profile{
    display: flex;
   .profile__img{
     margin-right: 20px;
   }
    .profile__info{
      padding-top: 25px;
      .profile__edit{
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  .form-control {
    padding: 10px 20px;
  }
  h3{
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
.email-notification{
  .custom-control-label::before,
  .custom-control-label::after{
    top: 50%;
    transform: translate(0, -50%);
  }
  label{
    font-weight: 400;
    font-size: 16px;
  }
}
.input-wrapper{
  margin-bottom: 10px;
  display: flex;
  justify-content: start;
  align-items: inherit;
  .form-control{
    height: 49px;
  }
  input{
    //padding: 13px 0;
  }
  label{
    //display: flex;
    //margin: auto 0;
  //  max-width: 90px;
  //  width: 100%;
  }
}


.settings__form{
  .setting-wrap{
    position: relative;
    .upd-button{
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 15px;
      border: none;
      background-color: inherit;
      color: var(--dark-color);
      font-weight: bold;
      font-size: 16px;
      text-decoration: underline;
      display: flex;
      align-self: flex-start;
    }
  }
}
.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 35px;
}
.custom-radio .custom-control-label::before {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #F2F3F3;
  border: 2px solid #24373A;
  left: -35px;
  box-sizing: border-box;

}
.custom-radio .custom-control-label::after {
  left: -31px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: var(--dark-color);
  background-color: var(--light-grey-color);
}
.custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
  width: 12px;
  height: 12px;
  background: #1CB7DB;
  border-radius: 5px;
}