.main-footer {
    background-color: var(--primary-color);
    padding: 30px 0;
}
.logo-footer {
    display: flex;
}
.footer-label {
    margin-bottom: 32px;
    text-align: left;
    color: var(--dark-color);
    font-weight: bold;
    font-size: 20px;
}
.footer-links {
    display: flex;
    flex-wrap: wrap;
}
.footer-link {
    flex: 0 0 50%;
    padding-right: 20px;
    color: #fff;
    text-align: left;
    font-size: 18px;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}
.footer__additional-links {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    line-height: 15px;
    margin-right: 30px;
    .link {
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        padding: 0 15px;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        &:first-child, &:last-child {
            border: none;
        }
    }
}
@include respond-above(sm) {
    .footer__additional-links {
        .link {
            font-size: 16px;
            line-height: 16px;
            &:first-child{
                padding-left: 0
            }
        }
    }
}

//.footer__additional-links {