@import "utils/varibles";
@import "utils/fonts";

* {
    font-family: "Gilroy";
}
.main {
    min-height: 200px;
}
#app{
    min-height: 100%;
    height: 100%;
}
@import "utils/media";
@import "utils/share";

@import "header";
@import "footer";

@import "sections/about";
@import "sections/cast-info";
@import "sections/categories";
@import "sections/fonodio-plus";
@import "sections/mobile-app";
@import "sections/account-details";
@import "sections/episode";
@import "sections/radiocast";
@import "sections/user-settings";
@import "sections/user-setttings-actions";
@import "sections/topicroom-section";
@import "modules/categories-card";
@import "modules/featured";
@import "modules/social-links";

@import "page/user-settings";
@import "page/auth";
@import "page/topicroom";

@import "modules/categories-tags-list";
@import "modules/hash-tags-list";
@import "modules/card-room";
@import "modules/card-radiostation";
@import "modules/input-search";
@import "modules/likes-list";
@import "modules/slider";
@import "sections/radioroom";