<template>
  <AuthLayout :title="title">
    <ValidationObserver v-slot="{ handleSubmit, invalid }"> 
    <form class="auth__form" @submit.prevent="handleSubmit(submit)">
      <ValidationProvider name="E-mail" rules="required|email" v-slot="{ errors }">
        <div class="input-wrapper">
          <b-form-input v-model="form.email" type="email" placeholder="email" class="mb-2"></b-form-input>
          <span class="error">{{ errors[0] }}</span>
        </div>
      </ValidationProvider>
      <ValidationProvider name="Password" rules="required|min:4" v-slot="{ errors }">
        <div class="input-wrapper">
          <b-form-input v-model="form.password" type="password" placeholder="password" class="mb-2"></b-form-input>
          <span class="error">{{ errors[0] }}</span>
        </div>
      </ValidationProvider>
      <b-button class="h4-title w-100 text-bold fs-26 text-left" pill variant="primary" block :disabled="invalid" type="submit">login</b-button>
    </form>
    </ValidationObserver>

    <div class="auth__links">
      <div class="mt-4">
          <span>Forgot password?</span>
        <router-link to="/forgot-password" class="auth__link">
          <span class="uderlined text-dark">email a new password?</span>
        </router-link>
      </div>
      <div class="mt-4">
        <span>New to fonodio?</span>
        <router-link to="/register" class="auth__link">
          <span class="text-dark"><b>register here</b></span>
        </router-link>
      </div>
    </div>
  </AuthLayout>
</template>

<script>
import { mapActions } from "vuex";
import AuthLayout from "@/layout/AuthLayout"
export default {
  components: {AuthLayout},
  data: () => ({
    title: ['fonodio', 'login'],
    form: {
      email: '',
      password: ''
    }
  }),
  methods: {
    ...mapActions('auth',{
      reqLogin: 'POST_LOGIN'
    }),
    submit () {
      // eslint-disable-next-line no-console
      // console.log('validation')
      this.reqLogin(this.form)
    }
  }
}
</script>

<style>

</style>