<template>
  <AuthLayout :title="title">
    <ValidationObserver v-slot="{ handleSubmit, invalid }">
      <form class="auth__form"  @submit.prevent="handleSubmit(submit)">
        <ValidationProvider name="name" rules="required|min:4" v-slot="{ errors }">
          <div class="input-wrapper">
            <b-form-input v-model="form.name" type="text" placeholder="your name" ></b-form-input>
            <span class="error">{{ errors[0] }}</span>
          </div>
        </ValidationProvider>
        <ValidationProvider name="email" rules="required|min:4|email" v-slot="{ errors }">
          <div class="input-wrapper">
            <b-form-input v-model="form.email" type="email" placeholder="email"></b-form-input>
            <span class="error">{{ errors[0] }}</span>
          </div>
        </ValidationProvider>
        <ValidationProvider name="password" rules="required|min:8" v-slot="{ errors }">
          <div class="input-wrapper">
            <b-form-input v-model="form.password" type="password" placeholder="password"></b-form-input>
            <span class="error">{{ errors[0] }}</span>
          </div>
        </ValidationProvider>
          <v-select :searchable="true" :clearable="false"  placeholder="country" :options="['Canada', 'United States']">
          </v-select>
          <p class="text-dark mb-3 mt-3">When you continue you <br> accept our <router-link to="/">
            <span class="uderlined text-dark">conditions of use</span>
            </router-link></p>
          <b-button pill variant="primary" class="h3-title mb-2  fs-30" block>join</b-button>
      </form>
    </ValidationObserver>
  </AuthLayout>
</template>

<script>
// import { mapActions } from "vuex";
import vSelect from 'vue-select';
import 'vue-select/dist/vue-select.css';
import AuthLayout from "@/layout/AuthLayout";
export default {
  components: {AuthLayout, vSelect},
  data: () => ({
    title: ['join', 'fonodio'],
    form: {
      name: '',
      email: '',
      password: ''
    }
  }),
  /* methods: {
    ...mapActions('auth',{
      reqRegister: 'POST_REGISTER'
    })
  } */
}
</script>
