<template>
  <div>
    <!-- Categories -->
    <SecLayout v-if="needCategories" name="categories" theme="primary" :title="['categories']">
      <Categories :items="categoriesList" />
    </SecLayout>

    <SecMobileApp />
    <SecFonodioPlus />
    <SecAbout />
  </div>
</template>

<script>
import { secCategories } from "@/staticData/sections";
import SecLayout from "@/layout/SectionLayout";
import Categories from "@/components/sections/Categories";
import SecMobileApp from "@/components/sections/MobileApp";
import SecFonodioPlus from "@/components/sections/FonodioPlus";
import SecAbout from "@/components/sections/About";
export default {
    components: {
        SecLayout,
        Categories,
        SecMobileApp,
        SecFonodioPlus,
        SecAbout
    },
    props: {
      needCategories: {
        type: Boolean,
        default: true
      },
    },
    computed: {
        categoriesList() {
        return secCategories;
        }
    }
}
</script>
<style>
</style>