<template >
    <div>
        <section class="section-fonodio-plus">
            <b-container class="featured">
                <b-row>
                    <b-col col md="12">
                        <h3 class="h3-title text-dark text-left mb-4">
                            Featured in episode
                        </h3>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col cols="6" lg="3" md="4" sm="4" class="featured-card mb-3" v-for="(item, key ) in featured" :key="key">
                        <div class="featured-cart-top mb-3">
                            <img :src="item.imgUrl" class="img img-responsive full-width" :alt="item.title">
                        </div>
                        <div class="featured-cart-bottom  d-flex justify-content-between">
                            <div class="text-primary text-dark" >
                                {{item.title}}
                            </div>
                            <div class="d-flex">
                                <font-awesome-icon class="font-awesome-icon selected" icon="minus-circle"/>
                                <font-awesome-icon class="font-awesome-icon ml-1" icon="heart"/>
                            </div>
                        </div>
                    </b-col>
                </b-row>
            </b-container>
        </section>
        <section class="edisode-description">
            <b-container >
                <b-row class="mb-2">
                    <b-col md="6">
                        <div class="text-left ">
                            <h3 class="h3-title text-dark text-left">About this episode</h3>
                            <p>Lewis Hamilton's race engineer Peter Bonnington joins Jennie Gow, Jack Nicholls and Jolyon Palmer to discuss a dominant victory for the Mercedes man under the lights in Singapore. Hamilton's win moves the Briton 40 points ahead of rival Sebastian Vettel, but is it a decisive lead in the drivers' championship race? Hamilton's win moves the Briton 40 points ahead of rival Sebastian Vettel, but is it a decisive lead in the drivers' championship race?
                            </p>
                        </div>
                    </b-col>
                    <b-col lg="3" md="6" offset-lg="1">
                        <h3 class="h3-title text-left text-dark">
                            Categories
                        </h3>
                        <div class="topic-item mb-2">
                            <font-awesome-icon class="font-awesome-icon" icon="minus-circle"/>
                            <span class="topic-item-title">entertainment</span>
                            <font-awesome-icon class="font-awesome-icon selected" icon="heart"/>
                        </div>
                        <div class="topic-item  mb-2">
                            <font-awesome-icon class="font-awesome-icon" icon="minus-circle" />
                            <span class="topic-item-title">sport</span>
                            <font-awesome-icon class="font-awesome-icon selected" icon="heart" />
                        </div>
                        <div class="topic-item mb-2">
                            <font-awesome-icon class="font-awesome-icon" icon="minus-circle" />
                            <span class="topic-item-title">finance</span>
                            <font-awesome-icon class="font-awesome-icon" icon="heart" />
                        </div>
                        <div class="topic-item mb-2">
                            <font-awesome-icon class="font-awesome-icon" icon="minus-circle" />
                            <span class="topic-item-title">golf</span>
                            <font-awesome-icon class="font-awesome-icon" icon="heart" />
                        </div>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <h3 class="h3-title text-left d-flex">
                            <span class="text-primary mr-3">Share this episode</span>
                            <SocialIcons />
                        </h3>
                    </b-col>
                </b-row>
            </b-container>
        </section>
    </div>
</template>
<script>
    import SocialIcons from "@/components/modules/SocialIcons";
    export default {
        components: {
            SocialIcons,
        },
        props: {
            episode: {
                type: Object,
                default: () => {}
            }
        },
        computed:{
          featured(){
              return this.episode.featured;
          }
        },
        watch:{
            episode(prev){
                console.log(prev);
            }
        }
    }
</script>