<template>
  <section :class="[`py-${py}`, sectionNameClass, themeData.bg]">
    <b-container>
      <b-row v-if="(title.length)">
        <b-col>
          <h2 class="h2-title" :class="themeClass.title">{{convertTitleString}}</h2>
        </b-col>
      </b-row>
      <b-row v-if="categoriesTagsItems.length">
        <b-col>
          <CategoriesTagsList
                  v-if="isDesktop"
                  :items="categoriesTagsItems"
                  :selectedItem="selectedCategoryTag"
                  :class="themeData.catTags"
                  @selectedTag="selectedCategoryTag = $event"
          />
        </b-col>
      </b-row>
      </b-container>
    <CategoriesTagsList
            v-if="isMobile"
            :items="categoriesTagsItems"
            :selectedItem="selectedCategoryTag"
            :class="themeData.catTags"
            @selectedTag="selectedCategoryTag = $event"
    />
      <b-container>
      <b-row>
        <b-col>
          <slot />
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>
<script>
import CategoriesTagsList from "@/components/modules/CategoriesTagsList";
import ScreenMixin from "@//components/mixins/ScreenMixin";
export default {
  mixins:[ScreenMixin],
  components: { CategoriesTagsList },
  props: {
    name: {
      type: String,
      default: ""
    },
    py: {
      type: Number,
      default: 5
    },
    theme: {
      type: String,
      default: "white"
    },
    title: {
      type: Array,
      default: () => []
    },
    categoriesTagsItems: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    selectedCategoryTag: null,
    themes:{
      primary:{
        bg: `bg-primary`,
        title: 'text-white',
        catTags: 'text-white',
      },
      secondary:{
        bg: `bg-secondary`,
        title: 'text-white',
        catTags: 'text-white',
      },
      white:{
        bg: `bg-white`,
        title: 'text-primary',
        catTags:'text-secondary',
      },
      transparent:{
        bg: `bg-transparent`,
        title: 'text-white',
        catTags: 'text-white',
      },
    }
  }),
  computed: {
    convertTitleString() {
      const firstTitleWord = this.title && this.title[0]
      if(!this.selectedCategoryTag) {
        return firstTitleWord
      }
      const lastTitleWords = this.title.filter((item,i) => i > 1).join(' ')
      return `${firstTitleWord} ${this.selectedCategoryTag} ${lastTitleWords}`
    },
    sectionNameClass() {
      return `section-${this.name}`
    },
    themeData() {
      return { ...this.themes[this.theme] };
    },
    themeClass() {
      return {
        bg: `bg-${this.theme}`,
        title: this.theme == 'primary' || this.theme == 'secondary'
          ? 'text-white'
          : 'text-primary',
        catTags: this.theme == 'primary' || this.theme == 'secondary'
          ? 'text-white'
          : 'text-secondary',
      };
    }
  },
  watch: {
    title: {
      immediate: true,
      handler() {
        this.selectedCategoryTag = this.title && this.title[1]
      }
    },
    selectedCategoryTag() {
      this.$emit('selectedCategoryTag', this.selectedCategoryTag)
    }
  }
}
</script>